body{
	background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
}

.carousel-item img{
	height: 500px;
}

.my-slider-icon{
	background-color: red;
	padding: 12 0px;
	border: 3px darkred solid;
}
   .mybox-img{
   	height: 250px;
   	text-align: center;
   }
.mybox-img img{
  padding:20px;
  max-height: 250px;
  width: auto;
  max-width: 100%;
}
 
 .mymenu{
  background-color: lightsalmon;
  padding-right: 50px;
  padding-left: 0 50px;
 }

.mybrand-name{
  color: darkred;
  font-weight: 600px;
  padding: 5px 10px;

}

.mypoisk{
  background-color: darkred;
  color:lightsalmon ;
}

.mytovar{
  margin-top:30px;
}

.mytovar .row{
  margin-bottom: 30px;
}

.card-body h5{
  font-size: 1rem;
  min-height: 40px;
}